@model ProductDetailViewModel

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th scope="row">Count</th>
            <td>@Model.Count</td>
        </tr>
        <tr>
            <th scope="row">Size</th>
            <td>@Model.Size</td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>