@model OrderDetailViewModel

@{
    var orderItems = Model.OrderItems;
}

    <form asp-controller="Order" asp-action="Edit" method="post">
        <input hidden asp-for="@Model.OrderId" />
        <input hidden asp-for="@Model.CreatedBy" />
        <input hidden asp-for="@Model.DateCreated" />
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <div>
                    <select readonly asp-for="Customer" class="form-control">
                        <option value="@Model.Customer.CustomerId">@Model.Customer.Name</option>
                    </select>
                </div>

                <ul class="list-group list-group-flush">

                    @for (int i = 0; i < orderItems.Count(); i++)
                    {
                        <li class="list-group-item">
                            <div class="row justify-content-center flex-nowrap no-gutters">
                                <input asp-for="@orderItems[i].OrderItemId" hidden />
                                <div class="col-2">
                                    <input readonly class="form-control" asp-for="@orderItems[i].ProductId" />
                                </div>
                                <div class="col-5">
                                    <input readonly class="form-control" asp-for="@orderItems[i].Product.Name" />
                                </div>
                                <div class="col-2">
                                    <input class="form-control" asp-for="@orderItems[i].Quantity" />
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="form-group row justify-content-md-center">
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    </form>